.Rproj.user
.Rhistory
.RData
.Ruserdata
^README\.qmd$
^README\.html$
^README_files$
generate_svg_badge.R
/.quarto/
.covrignore
generate_svg_badge.R
.Rbuildignore
inst/extdata/sl_exmaple_dhis2.rds
*.clau*
